langchain
langchain-community
pypdf
python-dotenv
PyPDF2
python-docx
faiss-cpu langchain-community sentence-transformers
fastapi uvicorn langchain-ollama
python-jose passlib[bcrypt]
langchain chromadb sentence-transformers
langchain-huggingface
langchain-chroma chromadb
langchain-chroma langchain-ollama 
langchain-text-splitters
bcrypt==4.0.1
passlib==1.7.4