.custom-navbar {
  background: transparent !important;
  width: 100%;
  z-index: 10;
  padding: 20px 0; /* makes navbar taller */
}

.brand-logo {
  border-radius: 50%;
  object-fit: cover;
  width: 55px;
  height: 55px;
}

.brand-text {
  font-weight: 800;
  color: white;
  font-size: 1.8rem;  /* bigger heading */
  letter-spacing: 1px;
}

.brand-white {
  display: flex;
  align-items: center;
}

.nav-white {
  color: white !important;
  font-weight: 600;
  font-size: 1.1rem;
}

.nav-white:hover {
  color: #731d58!important;
}

.signup-btn {
  background-color: #731d58;
  border: none;
  color: white;
  padding: 10px 22px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
}

.signup-btn:hover {
  background-color: #7c3aed;
}
