.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}





@media (max-width: 768px) {
  .cards-container {
    align-items: flex-start;   
  }

  .animated-border-wrapper {
    flex: 1 1 140px;
    max-width: 160px;
    min-width: 130px;
    align-self: flex-start;    
  }

  
}


/* Mobile optimization */
@media (max-width: 576px) {
  .chat-input {
    font-size: 0.7rem;
    padding: 8px;
  }

  .chat-btn {
    padding: 4px 6px;
    font-size: 0.8rem;
  }
}



