.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}





@media (max-width: 768px) {
  .cards-container {
    align-items: flex-start;   /* prevent vertical stretch */
  }

  .animated-border-wrapper {
    flex: 1 1 140px;
    max-width: 160px;
    min-width: 130px;
    align-self: flex-start;    /* force natural height */
  }

  
}
